version: "3"

services:

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    command: npm run dev -- --host

  backend:
    build: ./backend/disease-prediction
    ports:
      - "8080:8080"
    depends_on:
      - ml

  ml:
    build: ./ml-service
    ports:
      - "8000:8000"
